@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #D71E37;
  --secondary: #c7d2d5;
  --dark: #232325;
}
* {
  user-select: none; /* Prevents text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}


body {
  background-color: var(--dark);
  color: white;
}

.recluse-primary{
  color: var(--primary);
}
.recluse-bg-primary{
  background-color: var(--primary);
}
.text-gradient {
  background: linear-gradient(to right, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes pulse-glow {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

/* Add smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Improve button tap highlight on mobile */
* {
  -webkit-tap-highlight-color: transparent;
}

